### Finding Who Is Mostly Apply For The Insurance Categorized by Age

In [12]:
# importing needed pckages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [13]:
# import dataset
data = pd.read_csv('insurance_data.csv')
data.head(3)

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1

In [14]:
# replacing 0 & 1 with No & Yes
data['bought_insurance'] = data['bought_insurance'].replace(0, 'No')
data['bought_insurance'] = data['bought_insurance'].replace(1, 'Yes')

In [15]:
data.head()

   age bought_insurance
0   22               No
1   25               No
2   47              Yes
3   52               No
4   46              Yes

In [16]:
data.isnull().sum()

age                 0
bought_insurance    0
dtype: int64

In [17]:
data.dtypes

age                  int64
bought_insurance    object
dtype: object

In [24]:
# splitting dataset for training and testing
X_train, X_test, y_train, y_test = train_test_split(data[['age']], data.bought_insurance, test_size=0.2)

In [28]:
model = LogisticRegression()
model = model.fit(X_train, y_train)

In [30]:
prediction_Value = model.predict(X_test)

In [45]:
prediction_Value

array(['No', 'No', 'No', 'Yes', 'No', 'Yes'], dtype=object)

In [33]:
prediction.score(X_test, y_test)

1.0

In [43]:
from sklearn.metrics import classification_report
score = classification_report(y_test, prediction_Value)
print(score)

              precision    recall  f1-score   support

          No       1.00      1.00      1.00         4
         Yes       1.00      1.00      1.00         2

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

In [47]:
model.coef_

array([[0.11389896]])

In [48]:
model.intercept_

array([-4.23661471])

In [49]:
import math
def sigmoid(x):
  return 1 / (1 + math.exp(-x))

In [50]:
def predict_func(age):
    z = 0.11 * age - 4.24 # 0.11389896 ~ 0.11 and -4.23661471 ~ -4.24
    y = sigmoid(z)
    return y

In [61]:
age = int(input('Enter Your Age: '))
predict_func(age)

Enter Your Age:  38

0.48500449838058984

#### Lesser than 0.5 is not a Insurance buying Age! & Above or equal to 0.5 its denoted as Insurance buying Age...

##### <<< In this dataset we saw that which aged people are intrested in buying Insurance >>>

#### <<< 39 Age and Above people are intrested to Buy Insurance >>>
### <<< Below 38 Aged people are not intrested >>>